services:

  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['initial_root_password'] = '${GITLAB_ROOT_PASSWORD}'
    ports:
      - "${GITLAB_HTTP_PORT:-8080}:80"
      - "${GITLAB_HTTPS_PORT:-8443}:443"
      - "${GITLAB_SSH_PORT:-2222}:22"
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    networks:
      - software_suite
    shm_size: '256m'

  #  docker exec -i postgres_db psql -U postgres -c "CREATE DATABASE jira;"
  #  docker exec -i postgres_db psql -U postgres -c "CREATE DATABASE confluence;"

  jira:
    image: atlassian/jira-software:latest
    container_name: jira
    restart: unless-stopped
    environment:
      - ATL_TOMCAT_MGMTPORT=8005
      - SETENV_JVM_MINIMUM_MEMORY=${JIRA_MIN_MEMORY:-1024m}
      - SETENV_JVM_MAXIMUM_MEMORY=${JIRA_MAX_MEMORY:-2048m}
      - ATL_JDBC_URL=jdbc:postgresql://postgres:5432/${JIRA_DB_NAME:-jira}
      - ATL_JDBC_USER=${DATABASE_USER}
      - ATL_JDBC_PASSWORD=${DATABASE_PASSWORD}
      - ATL_DB_TYPE=postgres72
    ports:
      - "${JIRA_PORT:-8090}:8080"
    volumes:
      - jira_data:/var/atlassian/application-data/jira
    depends_on:
      - postgres
    networks:
      - software_suite

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
  jira_data:

networks:
  software_suite:
    driver: bridge
