services:
  gitlab:
    image: gitlab/gitlab-ee:18.5-ee.0
    container_name: gitlab
    restart: always
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Add any other gitlab.rb configuration here, each on its own line
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - ./config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    shm_size: '256m'
    networks:
      - software_suite

volumes:
  gitlab_logs:
  gitlab_data:

networks:
  software_suite:
    driver: bridge